# ===== Node / JS =====
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ===== Env =====
.env

# ===== Expo / React Native =====
.expo/
.expo-shared/
android/
ios/

# ===== Temp =====
.tmp.driveupload/

# Build outputs
mobileapp/ai-health-frontend/dist/
mobileapp/ai-health-frontend/node_modules/

# Expo
mobileapp/ai-health-frontend/.expo/
mobileapp/ai-health-frontend/.expo-shared/

# Environment
mobileapp/ai-health-frontend/.env
mobileapp/ai-health-frontend/.env.local

# Babel typo
bable.config.js
